@CHARSET "UTF-8";

html { width: 100%; height: 100%; }
body { padding-top: 54px; background-color: #404040; }

#pdf-toolbar { display: none; position: fixed; left: 0; top: 0; right: 0; padding: 10px 10px 5px; background-color: #333; color: white; height: auto; }
#pdf-toolbar > * { margin-bottom: 5px; }
#pdf-toolbar .btn-default, #pdf-toolbar .btn:hover[disabled] { color: #bbb; background-color: #444; border-color: #222; }
#pdf-toolbar .btn-default:focus, #pdf-toolbar .btn-default:hover { color: #ddd; background-color: #666; }

#pdf-start, #pdf-wait { font-size: 14pt; text-align: center; position: fixed; left: 50%; top: 40%; width: 20em; margin-left: -10em; padding: 2.5em; border: 1px solid #337AB7; color: #337AB7; }
#pages { color: #999; background-color: #444; border-color: #222; }
#page-num { width: 33px; border: 0; color: #ccc; background-color: #666; text-align: center; }

#pdf-copyright { position: fixed; left: 0; bottom: 0; right: 0; padding: 5px 10px; background-color: #404040; color: white; text-align: right; font-size: smaller; }
